.camposFormulario {

    width: 100% !important;
    background-color: white !important;}

.mat-mdc-text-field-wrapper .mdc-text-field .mdc-text-field--filled {
    background-color: white !important;
}

.mat-mdc-text-field-wrapper{
    background-color: white !important;
}

.mat-mdc-form-field-flex .mat-mdc-form-field-infix .mdc-text-field__input {
    color: red;
  }

  h1, h2,h3,h4,h5,h6{
    font-family: "Montserrat", serif;
}

table, p{
    font-family: "Montserrat", serif;
}