<div class="container">
  <h3 class="pt-4">Contas a Pagar</h3>
</div>

<div class="container mt-lg-5">
  <div class="row">
    <div class="col-6">
      <button
        type="button"
        class="btn btn-success"
        [routerLink]="['/contaspagarcadastro']"
        routerLinkActive="router-link-active"
      >
        Cadastrar Conta
      </button>
    </div>
    <div class="col-6 input-box">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar registro"
          aria-label="BuscarRegistroContasPagar"
          aria-describedby="basic-addon2"
          (input)="search($event)"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            <fa-icon
              [icon]="faMagnifyingGlass"
              style="color: cornflowerblue"
            ></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-6">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Próximo"
        [responsive]="true"
        (pageChange)="paginaAtual = $event"
      ></pagination-controls>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <td scope="col"></td>
          <td scope="col">ID</td>
          <td scope="col">Descrição</td>
          <td scope="col">Valor</td>
          <td scope="col">Data de vencimento</td>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let item of contaspagarlist
            | paginate
              : {
                  itemsPerPage: 10,
                  currentPage: paginaAtual,
                  totalItems: totalRegistros,
                };
          let i = index
        "
      >
        <tr>
          <td>
            <div *ngIf="item.status_Conta == 1; else inativo">
              <fa-icon [icon]="faCheck" style="color: green"></fa-icon>
            </div>
            <ng-template #inativo>
              <fa-icon [icon]="faCircleXmark" style="color: red"></fa-icon>
            </ng-template>
          </td>
          <td scope="row">{{ item.id }}</td>
          <td scope="row">{{ item.descricao }}</td>
          <td scope="row">{{ item.valor }}</td>
          <td scope="row">{{ item.data_Vencimento }}</td>
          <td>
            <button
              type="button"
              class="btn btn-info"
              routerLink="/contaspagareditar/{{ item.id }}"
            >
              Editar
            </button>
          </td>
          <td><button type="button" class="btn btn-danger">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
