<div class="container" id="cadastrarContaPagar">
  <div>
    <h4 class="modal-title">Cadastrar Conta a Pagar</h4>
  </div>
  <div class="row m-2">
    <div class="card mb-2">
      <div class="card-body">
        <form
          [formGroup]="cadastroContasPagarForm"
          (ngSubmit)="salvarDados()"
          #formDir="ngForm"
        >
          <div class="row col-12">
            <div class="col-6">
              <label>Descrição</label>
              <input
                formControlName="descricao"
                name="descricao"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label>Valor</label>
              <input
                formControlName="valor"
                name="valor"
                type="number"
                class="form-control"
                placeholder="R$ 0,00"
              />
            </div>
          </div>
          <div class="row col-12">
            <div class="col-6">
              <label>Categoria</label>
              <input
                formControlName="categoria"
                name="categoria"
                type="text"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label>Data Vencimento</label>
              <input
                formControlName="data_Vencimento"
                name="data_Vencimento"
                type="date"
                class="form-control"
                id="data_Vencimento"
                bsDatepicker
              />
            </div>
          </div>
          <div class="row col-12">
            <div class="col-6 form-group">
              <label>Repetição</label>
              <select
                class="form-control"
                name="repeticao"
                id="repeticao"
                formControlName="repeticao"
                [(ngModel)]="selectedOptionRepeticao"
              >
                <option value="">Selecione</option>
                <option value="Unico">Único</option>
                <option value="Parcelado">Parcelado</option>
                <option value="Fixo">Fixo</option>
              </select>
            </div>
            <div class="col-6 form-group">
              <label>Anexos</label>
              <input
                formControlName="anexos"
                name="anexos"
                type="text"
                class="form-control"
              />
            </div>
          </div>

          <div *ngIf="selectedOptionRepeticao == 'Parcelado'">
            <div class="row col-12">
              <div class="col-6">
                <label>Periodicidade</label>
                <select
                  formControlName="periodicidade"
                  name="periodicidade"
                  class="form-control"
                >
                  <option value="quinzenal">Quinzenal</option>
                  <option value="semanal">Semanal</option>
                  <option value="mensal">Mensal</option>
                  <option value="semestral">Semestral</option>
                  <option value="anual">Anual</option>
                </select>
              </div>
              <div class="col-6">
                <label>Número de Parcelas</label>
                <input
                  formControlName="numeroParcelas"
                  name="numeroParcelas"
                  type="number"
                  class="form-control"
                />
              </div>
              <div class="col-6">
                <label>Valor da Parcela</label>
                <input
                  formControlName="valorParcela"
                  name="valorParcela"
                  type="number"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="row col-12">
            <label>Observações</label>
            <input
              formControlName="observacoes"
              name="observacoes"
              type="text"
              class="form-control"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row col-6 mb-2">
    <div class="col-3">
      <button type="submit" class="btn btn-success">Cadastrar</button>
    </div>
    <div class="col-3">
      <button
        type="button"
        class="btn btn-danger"
        (click)="closeModalCadastro()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
